form{
    flex-direction: column;
    display: flex;

    /* margin: 50px; */
    align-items: center;
    /* justify-content:space-around; */
 }
 label{
    text-align: right;
    /* margin: 5px; */
 }
 input{
    background-color: rgb(13, 179, 225);
 
 
    padding-top: 5px;
    width: 30vw;
    margin: 5px;
 }
 textarea{
    color: rgb(44, 190, 201);
 background-color: rgb(225, 48, 13);
   margin: 5px;
   padding: 5px;
    color: black;
    width: 30vw;
 }
 #final{
 color: white;
 background-color: cadetblue;
 
 }
 #final:hover{
 cursor: pointer;
 background-color: rgb(225, 211, 13);
 }
 #contactIMG img{
   mix-blend-mode: multiply;
 }
 @media (max-width:600px) {
   #maincontactdiv{
      display: flex;
      
      flex-direction: column  ;
      align-items: center;
      

   }
  
   #formfilling{
      width: 50vw;
      padding-top: 140;
      margin-top: 0;
      border: none;
   }
   #contactIMG{
      width: 50vw;
   }
 }