@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Chivo:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-color: rgb(249, 247, 247);
  color: black;
  width: fit-content;
  box-sizing: border-box;
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header {
  display: flex;
  width: 98vw;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  padding-right: 55px;
  padding-top: 10px; /* Ensure there's not too much height */
}

.header img {
  width: 24vw; /* Set width directly */
  max-width: none; /* Remove max-width to prevent restrictions */
  max-height: 120px; /* Set max height */
  padding: 0 15px; /* Maintain padding */
  transition: filter 0.3s ease-in-out;
  object-fit: contain; /* Prevent cropping */
}

.header img:hover {
  cursor: pointer;
}

.intro ul {
  gap: 45px;
  display: flex; 
  font-size: x-large;
  font-weight: bolder;
}

.intro ul li {
  text-decoration: none;
  text-transform: uppercase;
}

.intro ul li:hover {
  cursor: pointer;
  text-decoration: underline;
  color: rgb(252, 95, 4);
}

/* Media Queries */
@media (max-width: 600px) {
  .header {
    flex-direction: column;
    margin: auto;
    padding-right: 0;
    align-items: center;
    justify-content: center;
  }

  .header img {
    width: 80vw; /* Increased responsive size for mobile */

  }

  .intro ul {
    gap: 17px;
    display: flex; 
    font-size: medium;
    margin: auto;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
  }
}
